<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <!-- Navigation -->
  <% include ./partials/navbar %>

  <!-- Page content -->
  <main class="container">
    <header class="my-4">
      <h1>About us</h1>
    </header>
    <article>
      <p>CoolReddit is the best website you will ever visit! Join us as we discover the funniest gags, the scariest mysteries, the most scandelous political events, and more that are happening in the world.</p>
    </article>
  </main>

  <!-- Base scripts -->
  <% include ./partials/baseScripts %>
</body>
</html>